
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define _BASE 0
#define _NAV  1

/ {
    behaviors {
        // ctrl_tab: hold = LCTRL, tap = TAB  (left thumb-side home row mod)

        ctrl_tab: ctrl_tab {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL            &kp N1         &kp N2    &kp N3      &kp N4    &kp N5                                                   &kp N6  &kp N7    &kp N8        &kp N9        &kp N0         &kp MINUS
&kp BSLH             &kp Q          &kp W     &kp E       &kp R     &kp T   &kp ESC                               &kp ESC    &kp Y   &kp U     &kp I         &kp O         &kp P          &kp RBKT
&ctrl_tab LCTRL TAB  &kp A          &kp S     &kp D       &kp F     &kp G   &kp GRAVE                             &kp LBKT   &kp H   &kp J     &kp K         &kp L         &kp SEMI       &ctrl_tab RCTRL SQT
&kp LSHFT            &kp Z          &kp X     &kp C       &kp V     &kp B   &kp LCTRL  &kp LALT    &kp RIGHT_ALT  &kp RCTRL  &kp N   &kp M     &kp COMMA     &kp DOT       &kp FSLH       &kp RSHFT
&kp LGUI             &kp LA(LSHFT)  &kp CAPS  &kp C_MUTE  &mo _NAV          &kp BSPC   &kp DEL     &kp RET        &kp SPACE          &mo _NAV  &kp C_VOL_DN  &kp C_VOL_UP  &kp RA(RSHFT)  &kp RGUI
            >;

            label = "Base";
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
&none  &kp F1  &kp F2     &kp F3     &kp F4     &kp F5                                                     &kp F6    &kp F7    &kp F8  &kp F9     &kp F10  &studio_unlock
&none  &none   &none      &none      &none      &none   &kp F11                                 &kp F12    &none     &none     &none   &none      &none    &none
&none  &none   &none      &none      &none      &none   &tog _NAV                               &tog _NAV  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none    &none
&none  &none   &kp LC(X)  &kp LC(C)  &kp LC(V)  &none   &kp PG_UP      &kp PG_DN      &kp HOME  &kp END    &none     &none     &none   &none      &none    &sys_reset
&none  &none   &none      &none      &trans             &kp PAGE_DOWN  &kp PAGE_UP    &kp HOME  &kp END              &trans    &none   &none      &none    &none
            >;

            label = "Navigation";
        };
    };
};

